html
  head
    style.
      .wrapper{
      padding:0;
      width:70%;
      }
      .wrapper .logo{
      text-align:left;
      font-weight:bold;
      }
      .wrapper .linkButton a{
      padding:10px 60px;
      background:#426d9c;
      border:none;
      text-decoration:none;
      cursor:pointer;
      color:white;
      margin-bottom:20px;
      border-radius:8px;
      }
      p{
      text-decoration:none;
      }
  |   
  body
    .wrapper
      .logo
        //- img(src='https://everyurban.com/wp-content/uploads/2018/08/logo-everyurban.png')
        img(src='http://45.62.223.40:8084/images/logo-email.png')
      | &#x9;
      | &#x9;
      //- p Hello! #{data.email}
      | &#x9;
      .ct-body
        p
          | First Name : #{data.fname}
        | &#x9;
        p
          | Second Name : #{data.lname}
        | &#x9;
        p
          | Email Address : #{data.email}
        | &#x9;
        p
          | Enquiry Type : #{data.enquiry_type}
        | &#x9;
        p
          | Message : #{data.message}
